.big-table-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.big-table{
    width: 75%;
}
.tabla-botones{
    width: 300px;
}
.tabla-imagen{
    width: 200px;
    height: 100px;
}
.brand-logo{
    margin: 0px 20px;
}
body{
    overflow: hidden;
}
.main{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}
.main-text{
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.main-image{
    position: absolute;
    right: -20%;
    top: -20%;
    width: 70%;
    transform: rotate(45deg);
}

.page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.page-not-found{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.page-not-found i{
    font-size: 5em;
}
