.big-table-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.big-table{
    width: 75%;
}
.tabla-botones{
    width: 300px;
}
.tabla-imagen{
    width: 200px;
    height: 100px;
}
